@{
    ViewData["Title"] = "O nama";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h2> Osnovni podaci </h2>
        <table class="table table-hover">
            <tbody>
                <h5>
                    <b>Telefon: </b> 01/838 4410
                </h5>
                <h5>
                    <b>E-mail: </b> bookplatform@gmail.com
                </h5>
                <h5>
                    <b>Žiro račun: </b> H3323400093113326379 
                </h5> 
                <h5>
                    <b> IBAN: </b> HR31234000932349387
                </h5> 
                <h5>
                    <b>Banka: </b> Privredna banka Zagreb d.d., Radnička cesta 50, 10000 Zagreb
                </h5>
            </tbody>
        </table>
    </div>
</div>

